#page-home {
  height: 100vh;
  background: url('../../assets/background-calculator.svg') no-repeat 80% 20%;
}

#page-home .content{
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
}

#page-home .content header{
  margin-top: 48px;
}

#page-home .content header{
  display: flex;
  justify-content: space-between;
}

#page-home .content header div{
  display: flex;
  align-items: center;
}

#page-home .content header div h2{
  margin-left: 1rem;
  margin-right: 1rem;
}

#page-home .content main {
  flex: 1;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

#page-home .content main .page-text{
  max-width: 560px;
}

#page-home .content main .page-text h1 {
  font-size: 54px;
  color: var(--title-color);
}

#page-home .content main .page-text p {
  font-size: 24px;
  margin-top: 40px;
  line-height: 38px;
}

#page-home .content main table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  width: 100%;
  height: 50%;
  margin-top: 32px;
}

#page-home .content main table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#page-home .content main table tr th {
  text-align: start;
  width: 130px;
}

#page-home .content main table tr td {
  width: 130px;
}

#page-home .content main table tr td select{
  justify-content: center;
}
#page-home .content main table tr td p{
  justify-content: center;
}

#page-home .content main table select,
#page-home .content main table input{
  border: none;
  background: #F0F0F5;
  border-radius: 8px;
  height: 48px;
  width: 7rem;
  padding: 8px;
}

#page-home .content main table .btn-form{
  display: flex;
  justify-content: flex-end;
}

#page-home .content main table .btn-form button{
  background: var(--primary-color);
  color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  height: 40px;
  width: 7rem;
  border-style: none;
  border-radius: 8px;
}

#page-home .content main table .btn-form button:active{
  background: #fa975e;
}

@media(max-height: 700px ) {
  #page-home {
    height: 100vh;
    background: url('../../assets/background-calculator-smaller.svg') no-repeat 95% 10%;
  }

  #page-home .content main {
    flex: 1;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }

  #page-home .content main .page-text{
    max-width: 500px;
  }

  #page-home .content main .page-text h1 {
    font-size: 40px;
    color: var(--title-color);
  }
  
  #page-home .content main .page-text p {
    font-size: 16px;
    margin-top: 28px;
    line-height: 26px;
  }

}

@media(max-width: 900px) {
  #page-home {
    height: 100vh;
    background: url('../../assets/background-calculator.svg') no-repeat 70% -190%;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home .content header {
    margin: 48px auto 0;
  }

  #page-home .content main {
    align-items: center;
    margin-top: 7rem;
  }

  #page-home .content main h1 {
    font-size: 42px;
  }

  #page-home .content main p {
    font-size: 24px;
  }

  
}